/*Вес селектора по идентификатору (#id) равен 100.
Селекторы атрибутов ([href],  например), 
селекторы по классам (.class-name) 
и псевдоселекторы (:hover, например) имеют вес, равный 10. 
Селекторы тегов (div, например) и селекторы псевдоэлементов (:after, например) 
имеют вес 1. Универсальные селекторы (*, +, >, ~) имеют нулевой вес.*/

* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #17191C;
  
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;

}

a {
  text-decoration: none;
}

button {
  background: transparent;
  padding: 0;
  outline: none;
  border: 1px solid transparent;
}

p, h1 , h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  width: 1142px;
  margin: 0 auto;
}

.header {
  position: relative;
  min-height: 129px;
  margin-bottom: 80px;
}

.logo, .menu, .contacts {
  position: absolute;
}

.logo {
  top: 34px;
}

.contacts {
  top: 27px;
  font-style: normal;
  text-align: right;
  right: 5px;
  
}

.contacts__phone {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
 
}

.contacts__workhours {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-top: -7px;
  text-decoration: underline;
}


.menu {
  left: 549px;
  transform: translateX(-50%);
  top: 18px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 69px;
}

.menu__link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.menu__link:hover {
  color: #8F00FF;
}

.menu__item:last-child {
  margin-right: 0px;
}




main {
  position: relative;
  min-height: 1751px;
}

.preview {
  max-width: 637;
}

.preview__title {
  width: 637px;
  height: 194px;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 23px;
}

.preview__description {
  font-size: 21px;
  line-height: 29px;

}


.button {
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
  min-width: 163px;
  height: 56px;
  margin-top: 71px;
  

  background: #8F00FF;
  border-radius: 5px;
}


.button:hover {
  width: 163px;
  height: 56px;
  left: 43px;
  top: 213px;

  background: #741BBA;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  border-radius: 5px;
}

.games__description {
  width: 320px;
  height: 49px;
  left: 392px;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-top: 191px;
}

.games__header {
  margin-bottom: 28px;
  background-color: #17191C;
  
}

.games__list {
   margin-left: -43px;
}

.games__item {
  width: 360px;
  height: 448px;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  display: inline-block;
  
  margin-right: 25px;
  margin-top: 37px;
}

.games__item:last-child {
  margin-right: 0px;
}

.games__content {
 padding-top: 36px 30px;
 color: #17191C;
}

.games__name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.games__atributes {

  display: inline-block;
  vertical-align: top;
}

.paginator__item {
  display: inline-block;
}

footer {
  position: relative;
}

