/*Вес селектора по идентификатору (#id) равен 100.
Селекторы атрибутов ([href],  например), 
селекторы по классам (.class-name) 
и псевдоселекторы (:hover, например) имеют вес, равный 10. 
Селекторы тегов (div, например) и селекторы псевдоэлементов (:after, например) 
имеют вес 1. Универсальные селекторы (*, +, >, ~) имеют нулевой вес.*/

* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #17191C;
  
}

ul {
  padding: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;

}


a {
  text-decoration: none;
}

button {
  background: transparent;
  padding: 0;
  outline: none;
  border: 1px solid transparent;
}

p, h1 , h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  width: 1142px;
  margin: 0 auto;
}

.header {
  position: relative;
  min-height: 129px;
  margin-bottom: 80px;
}

.logo, .menu, .contacts {
  position: absolute;
}

.logo {
  top: 34px;
}

.contacts {
  top: 27px;
  font-style: normal;
  text-align: right;
  right: 5px;
  
}

.contacts__phone {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
 
}

.contacts__workhours {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-top: -7px;
  text-decoration: underline;
}


.menu {
  left: 569px;
  transform: translateX(-50%);
  top: 18px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 66px;
}

.menu__link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.menu__link:hover {
  color: #8F00FF;
}

.menu__item:last-child {
  margin-right: 0px;
}




main {
  position: relative;
  min-height: 1751px;
}

.preview {
  max-width: 637;
}

.preview__title {
  width: 637px;
  height: 194px;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 23px;
}

.preview__description {
  font-size: 21px;
  line-height: 29px;

}

.preview__button {
  margin-top: 73px;
}

.button {
  
  display: inline-block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: center;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding: 17px 39px;
  background: #8F00FF;
  border-radius: 5px;
}

.button.--small {
  padding: 15px 29px;
}

.button:hover, .button:active {
  cursor: pointer;
  background: #741BBA;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.games__button {
  margin-top: 24px;
}

.games__description {
  width: 320px;
  height: 49px;
  left: 392px;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-top: 191px;
}

.games__header {
  background-color: #17191C;
}

.games__item {
  max-width: 360px;
  height: 448px;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  display: inline-block;
  
  margin-right: 25px;
  margin-top: 37px;
}

.games__item .button {
  background: #ffffff;
  border-radius: 5px;
  border: 2px;
  color: #8F00FF;
  border-color: #8F00FF;
  border-style: solid
  
}

.games__item .button:hover {
  background: #8F00FF;
  border-radius: 5px;
  border: 2px;
  color: #ffffff;
  border-color: #8F00FF;
  border-style: solid
  
}
.games__content * {
  color: #17191C;
}

.games__item:last-child {
  margin-right: 0px;
}

.games__content {
 padding: 33px 22px 26px; 
 color: #17191C;
 font-family: Open Sans;
 font-size: 14px;
 font-weight: 400;
 line-height: 21px;
 letter-spacing: 0px;
 text-align: left;
}

.games__atributes-content {
  display: inline-block;
  padding-left: 39px;
  margin-right: 50px;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  margin-bottom: 26px;
}

.games__atributes-content:last-child {
  margin-right: 0px;
}

.games__name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.games__atributes {
  display: inline-block;
  vertical-align: top;
}

.games__atributes-content {
  position: relative;
  padding-left: ;
}

.games__atributes-content:before {
  content:"";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
}

.games__atributes-content:first-child::before {
  background-image: url(./img/clock.png);
}

.games__atributes-content:last-child::before {
  background-image: url(./img/qa.png);
}

.paginator__item {
  display: inline-block;
}


.old-games__description {
  margin-top: 127px;
  margin-bottom: 51px;
  width: 341px;
  height: 49px;
  left: 390px;
  top: 1451px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF;
}

.old-games__item {

  display: inline-block;
  margin-right: 13px;
  max-width: 562px;
  min-height: 390px;
}

.old-games__item:last-child {
  margin-right: 0;
}

.old-games__image {
  position: absolute;
  top: 0px;
  left: 0;

}

.old-games__item {
  position: relative;
}


.old-games__item *:not(img) {
  position: relative;
}

.old-games__date {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px
}

.old-games__link {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 4px;
}

.old-games__hint {
  font-size: 16px;
  line-height: 21px;
}

.old-games__wrapper {
  padding: 254px 56px 26px 28px;
}

.paginator__display {
  margin-right: 0px;
  display: inline-block;
  display: none;
}

.paginator__list {
  margin-right: 0px;
  display: inline-block;
  margin: 0;
  font-size: 0;
}

.paginator {
  text-align: center;
  padding: 10px 0;
}

.old-games {
  margin-bottom: 47px;
}

.paginator__display-all {
  margin-right: 0px;
}

.paginator__link {
  font-weight: 700;
  border-radius: 50%;
  font-size: 16px;
  line-height: 21px;
  padding: 5px 12px;  
}

.paginator__link:hover {
    transition: 0.3s;
    background: #8F00FF;
    font-weight: 700;
    border-radius: 50%;
    font-size: 16px;
    line-height: 21px;
    padding: 5px 12px;
}

.paginator__display {
    margin-right: 19px;
    display: inline-block;
  }

.about__group {
    display: block;
}

.about {
    position: relative;
    display: block;
    margin-top: 124px;
}

.about__content *:not(img) {
    position: relative;
}

.about__image {
    right: 4px;
    top: 114px;
    position: absolute;
  
}

.about__group-pic {
    position: absolute;
    top: 16px;
    left: -2px;
}


.about__content {
  display: block;
  padding: 134px 30px 0px 431px;
  margin-bottom: 144px;
}



p.about__description {
  padding: 0px 170px 41px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.about__wrapper {
  padding: 0px 4px 33px 5px;
  margin-top: 52px;
}

.about__title {
  padding-bottom: 36px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.about__description {
  font-size: 16px;
  line-height: 27px;
}

.footer {
  position: relative;
  min-height: 92px;
}

.logo, .socials, .footer__contacts, .footer__menu {
  position: absolute;
}

.socials-item {
  display: inline-block;
}

.menu__item-footer {
  display: inline-block;
  vertical-align: middle;
  margin-right: 63px;
}

.menu__link-footer {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.menu__link-footer:hover {
  color: #8F00FF;
}

.menu__item-footer:last-child {
  margin-right: 0px;
}


.menu__list-footer {
  top: -57px;
  position: relative;
  left: 287px;
}


.footer__contacts {
  position: absolute;
  right: 0px;
  top: -14px;
}

.contacts__phone-about {
  text-align: right;
  right: 0px;
}

.footer__contacts-workhours {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  margin: 3px 0px 6px 25px;
  text-decoration: none;
}

.contacts__phone-about {
  font-weight: 400;
  font-size: 26px;
  line-height: 21px;
  font-style: normal;
}

.socials__elements {
  position: relative;
  display: inline-block;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  
}

.socials {
  left: 702px;
  top: -20px;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials__item--icon--telegram .socials__link {
  background-image: url("./img/tg-two.png");
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url("./img/tg-one.png");
}

.socials__item--icon--vkontakte .socials__link {
  background-image: url("./img/vk-two.png");
}

.socials__item--icon--vkontakte .socials__link:hover {
  background-image: url("./img/vk-one.png");
}

.socials__item--icon--facebook .socials__link {
  background-image: url("./img/fb-two.png");
}

.socials__item--icon--facebook .socials__link:hover {
  background-image: url("./img/fb-one.png");
}

.socials__item--icon--instagram .socials__link {
  background-image: url("./img/in-two.png");
}

.socials__item--icon--instagram .socials__link:hover {
  background-image: url("./img/in-one.png");
}

.main-page-wrapper {
  background: url("./img/back-top.png") center top no-repeat, url("./img/back-bot.png") center bottom no-repeat, url("./img/back-screen.png");
  mix-blend-mode: luminosity;
  box-shadow: inset 0px -46px 50px #17191C;
}
