
* {
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
}

html, body {
  color: #000000;
  height: 100%;
  width: 100%;
  margin: 0;
}

body.dark-page {
  color: #fff;
  background-color: #000000;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: white;
  text-decoration: none;
}



.wrapper {
  overflow: hidden;
  min-width: 1150px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper--games {
  background-color: #fff;
}

.wrapper__content {
  flex: 1;
}

p, h1 , h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1150px;
}

