

.about {
  position: relative;
  margin-top: 147px;
}


.about__image {
  width: 100%;
  height: 100%;
  right: 0;
  top: 0px;
  position: absolute;

}

.about__group-pic {
  position: absolute;
  top: -98px;
  left: 0;
}


.about__content {
position: relative;
padding: 75px 80px 71px 86px;
width: 818px;
overflow: hidden;
margin-left: auto;
}

.about__wrapper {
  position: relative;
}

.about__title {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;

}

.about__description {
  margin-bottom: 50px;
  width: 501px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

}